@charset "UTF-8";

/* ? IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ? IMPORT CSS */
@import "./reset.css";
@import "./variables.css";
@import "./components.css";
@import "./animations.css";
@import "./responsividade.css";

body {

    width: 100%;
    height: 100vh;
    padding: 1.75rem 1rem;
    background: var(--color-off-white);

}

/* ? HEADER - NAVBAR */

.header-mobile .toggle-navbar-interative {

    background: none;

}

.header-mobile .toggle-navbar-interative img {

    cursor: pointer;

}

/* ? HERO */

.main .hero {

    margin-bottom: 4rem;

}

.main .hero img {

    width: 100%;
    border-radius: 4px;
    box-shadow: var(--color-box-shadow);
    margin-bottom: calc(1.5rem - 1rem);

}

.main .hero {

    display: flex;
    flex-direction: column;
    gap: 1rem; 

}

.main .hero .title-hero {

    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.125;
    color: var(--color-dark-blue);

}

.main .hero .description-hero {

    font-size: 0.9375rem;
    line-height: 1.625rem;
    color: var(--color-dark-grayish-blue);

}

/* ? NEWS */

.main .breadcraumb-content {

    background: var(--color-dark-blue);
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 1.3rem;
    border-radius: 4px;
    box-shadow: var(--color-box-shadow);

}

.main .breadcraumb-content .header-content h2 {

    color: var(--color-soft-orange);
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.2rem;

}

.breadcraumb-content .content {

    display: flex;
    flex-direction: column;
    gap: 0.5rem; 

}

.breadcraumb-content .content .title-content {

    color: var(--color-off-white);
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: var(--font-weight-bold);

}

.breadcraumb-content .content .description-content {

    color: var(--color-dark-grayish-blue);
    font-size: 0.9375rem;
    line-height: 1.625rem;

}

/* ? MAIS NOTÃCIAS */

.main .list-news {

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.main .list-news > .container-list-news {

    display: flex;
    align-items: center;
    gap: 1.5rem;

}

.main .list-news .container-list-news .container-list-news-img img {

    flex-direction: column;
    max-width: 6.25rem;
    max-height: 10rem;
    border-radius: 2px;
    box-shadow: var(--color-box-shadow);

}

.container-list-news .number-list-news-content {

    color: var(--color-grayish-blue);
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 0.25rem;

}

.container-list-news .title-list-new-content {

    color: var(--color-dark-blue);
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: var(--font-weight-bold);
    margin-block: 0.6rem;

}

.container-list-news .description-list-news-content {

    color: var(--color-dark-grayish-blue);
    font-size: 0.9375rem;
    line-height: 1.625rem;

}