/*  ? VARIAVEIS CSS */

:root {

    /* ? COLORS PRIMARYS */

    --color-soft-orange: #E9AB53;
    --color-soft-red: #F15E50;

    /* ? COLORS NEUTRAL */

    --color-off-white: #FFFDFA;
    --color-grayish-blue: #C5C6CE;
    --color-dark-grayish-blue: #5D5D79;
    --color-dark-blue: #00001A;

    /* ? TYPOGRAPHY */
    --font-family: "Inter", sans-serif;
    --font-size: 15px;
    --font-weight-normal: 400;
    --font-weight-medium: 700;
    --font-weight-bold: 800;

    /* ? BOX SHADOW */
    --color-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.234);

    /* ? MÉTRICAS - seção NOVO */

    --border-bottom: 1px solid var(--color-dark-grayish-blue);
    --padding-bottom: 1.75rem;

}

.estilos-novo {

    /* ? Border-bottom - seção NOVO */
    border-bottom: var(--border-bottom);

    /* ? padding bottom - seção NOVO */
    padding-bottom: var(--padding-bottom);

}