/*  ? VARIAVEIS CSS */

:root {

    /* ? COLORS PRIMARYS */

    --color-Soft-Orange: #E9AB53;
    --color-Soft-Red: #F15E50;

    /* ? COLORS NEUTRAL */

    --color-Off-white: #FFFDFA;
    --color-Grayish-blue: #C5C6CE;
    --color-Dark-grayish-blue: #5D5D79;
    --color-Dark-blue: #00001A;

    /* ? TYPOGRAPHY */
    --font-family: "Inter", sans-serif;
    --font-size: 15px;
    --font-weight-normal: 400;
    --font-weight-medium: 700;
    --font-weight-bold: 800;

}